<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <system.web>
    <compilation tempDirectory="D:\Plesk\Vhosts\tesi.org.mx\tmp"/>
  </system.web>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
    <httpErrors>
      <remove statusCode="401"/>
      <error statusCode="401" path="401.htm"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.htm"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="405.htm"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="406.htm"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="412.htm"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="501.htm"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="502.htm"/>
    </httpErrors>
  </system.webServer>
</configuration>
